* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Times New Roman", serif;
}

body {
  background: black;
  color: #d0d0d0;
}

.wrapper {
  margin: 0 5%;
  min-width: 320px;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.exit-link {
  display: block;  
}

.exit-icon {
  display: block;
  fill: #d0d0d0;
  width: auto;
  height: 40px;
}

.exit-icon:hover {
  fill: #ff8800;
}

.main {

}

.title {
  padding: 0.2em 0;
  text-align: center;
  border: 3px solid #d0d0d0;

  font-size: 32px;
}

.quote {
  padding: 1em;

  border-top: none;
  border-bottom: 1px solid #d0d0d0;
  border-left: 3px solid #d0d0d0;
  border-right: 3px solid #d0d0d0;

  font-size: 18px;
}

.quote-text {
  margin-bottom: 1.5em;
  line-height: 1.5em;
}

.quote-tags {
  font-size: 14px;
  opacity: 0.5;
}

form * {
  display: block;
  font: inherit;
}

form label {
  margin-bottom: 10px;
}

form input {
  width: 100%;
  margin-top: 5px;
  padding: 0.4em;
  
  border: 1px solid black;   
  border-radius: 0.5em;
  
  background-color: #f0f0f0;
}

form textarea {
  width: 100%;
  margin-top: 5px;
  padding: 0.4em;
  
  border: 1px solid black;   
  border-radius: 0.5em;
  
  background-color: #f0f0f0;
}

form .buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

form button {
  margin-left: 5%;
  padding: 0.5em;

  border: 1px solid black;   
  border-radius: 0.5em;

  background-color: #d0d0d0;
}

form button:hover {
  background-color: #ff8800;  
  cursor: pointer;
}

.add-form {
  display: none;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #d0d0d0;  
}

.add-form button {
  width: 100px;
}

.login-form {
  display: none;
  width: 250px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #d0d0d0;  
}

.login-form button {
  width: 40%;
}

.active {
  display: block;
}